<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Publicame 1.0.0 (Beta Always)</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css" />
    </head>
    <body>
        
        <div id="menuTopHome" class="ui sticky secondary pointing menu">
            <a class="active item" href="/home">
              Publicaciones
            </a>
            <a class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Buscar publicaciones..." />
                <i class="search icon"></i>
              </div>
            </a>
            <div class="right menu">
              <a class="ui item" href="/publish">
                Publicar
              </a>
              <a class="ui item">
                Publicar en Facebook
              </a>
                <a class="ui item" href="/access">
                Acceder
              </a>
            </div>
        </div>
        <div class="ui grid" id="contentHome">
            <div class="four wide column"></div>
            <div class="eight wide column">
                <div class="ui three top attached steps">
                    <div class="active step">
                      <i class="user outline icon"></i>
                      <div class="content">
                        <div class="title">Registración</div>
                        <div class="description">Información básica</div>
                      </div>
                    </div>
                  </div>
                  <div class="ui attached segment">
 <form id="form-register" class="ui form">
  <div class="field">
    <label>Nombre</label>
    <div class="two fields">
      <div class="field">
        <input type="text" v-model="user.firstName" name="shipping[first-name]" placeholder="Mi nombre" />
      </div>
      <div class="field">
        <input type="text" v-model="user.lastName" name="shipping[last-name]" placeholder="Apellido" />
      </div>
    </div>
  </div>
  <div class="field">
    <label>Domicilio</label>
    <div class="fields">
      <div class="eight wide field">
        <input type="text" name="shipping[address]" placeholder="Direccion" />
      </div>
      <div class="four wide field">
        <input type="text" name="shipping[address-2]" placeholder="Calle" />
      </div>
      <div class="four wide field">
        <input type="text" name="shipping[address-2]" placeholder="Numero" />
      </div>
    </div>
  </div>
  <div class="two fields">
    <div v-if="selectCountry !== true" class="four wide field">
      <label>Provincia</label>
      <select v-model="provSelected" v-on:change="onChange(provSelected)">
          <option disabled="true" selected="true" value="">Provincias</option>
          <option v-for="prov in argentina" v-bind:value="prov">{{prov.provincia}}</option>
      </select>
    </div>
    <div v-if="selectCountry !== true" class="four wide field">
      <label>Localidad</label>
      <select>
          <option>Localidades</option>
          <option v-for="loc in localidades">{{loc}}</option>
      </select>
    </div>
    <div v-if="selectCountry" class="field">
      <label>País</label>
      <select>
            <option selected="true" >Paises</option>
            <option v-for="country in c" value="">{{country.name}}</option>
        </select>
    </div>
    <div class="field">
      <label>Cel</label>
      <input name="cel" v-model="user.cel" placeholder="Cel Movil" />
    </div>
  </div>
  <h4 class="ui dividing header">Datos de usuario</h4>
  <div class="field">
    <label>Email</label>
    <div class="fields">
      <div class="eight wide field">
          <input id="user-email" type="text" v-model="user.email" name="email" placeholder="Email" />
      </div>
      <div class="eight wide field">
        <input type="password" v-model="user.password" name="shipping[address-2]" placeholder="Contraseña" />
      </div>
    </div>
  </div>
  <div v-if="validationErrors.length > 0" class="ui negative message">
    <div class="header">
        Se encontraron los siguientes errores:
    </div>
    <ul class="list">
        <li v-for="e in validationErrors">{{e}}</li>
    </ul>
  </div>
  <a href="#" class="ui button" v-on:click="validateForm()">Listo</a>
</form>
                  </div>
            </div>
            <div class="four wide column"></div>
        </div>
                
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
        <script src="js/gfb_config.js"></script>
        
        <!-- alertifyjs -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

        <!-- CSS alertifyjs -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css"/>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
        <script src="js/register.js"></script>
    </body>
</html>
